{% extends 'layout.html' %}
{% load filters %} 

{% block title %}Articulos{% endblock %}

{% block content %}
    <h1 class="title">Listado de articulos</h1>

    <ul>
        {% for articulo in articulos %}
            <li>
            <h4>{{articulo.id}}.{{articulo.title}}</h4>
            <span>{{articulo.created_at}}</span>
            {% if articulo.public %}
                <strong>Publicado</strong>
            {% else %}
                <strong>Privado</strong>
            {% endif %}            
            <p>
                {{articulo.content}}
                <br>
                <a href="{% url 'borrar' articulo.id %}">Eliminar</a>
            </p>
            <hr>
            </li>
        {% endfor %}
    </ul>

{% endblock %}