{% extends 'layout.html' %}
{% load filters %} 

{% block title %}Articulos{% endblock %}

{% block content %}
    <h1 class="title">Listado de articulos</h1>

    {% if messages %}
        {% for message in messages %}
            <div class="message">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}

        {% for articulo in articulos %}
            <article class="article-item">
                {% if articulo.image != 'null' and articulo.image.url|length >= 1 %}
                    <div class="image">
                        <img src="{{articulo.image.url}}"/>
                    </div>
                {% endif %}
                <div class="data">
                    <h2>{{articulo.title}}</h2>
                    <span class="date">{{articulo.created_at}}</span>        
                    <p>
                        {{articulo.content}}
                    
                        <a href="{% url 'borrar' articulo.id %}" class="btn btn-delete">Eliminar</a>
                    </p>
                </div>
                <div class="clearfix"></div>
            </article>
        {% endfor %}

{% endblock %}