:root {
    --primary: #9C27B0;
    --primaryDark: #89119D;
    --secondary: #FFCE00;
    --secondaryDark: rgb(223, 287, 2);
    --white: #FFF;
    --black: #000;

    --mainFont: 'Staatliches', cursive;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  /* Globales */
body {
    background-color: var(--primary);
    font-size: 16rem;
    list-style: 1.5;
}

p {
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--white);
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

h1, h2, h3 {
    text-align: center;
    color: var(--secondary);
    font-family: var(--mainFont);
}

h1 { font-size: 4rem; }

h2 { font-size: 3.2rem; }

h3 { font-size: 2.4rem; }