*{
    margin: 0px;
    padding: 0px;
}


body{
    background: lightgray;  
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    width: 70%;
    margin: 0px auto;
    border: 1px solid black;

}

header{
    background: red;
    height: 100px;
    width: 100%;
    text-align: center;
    line-height: 100px;
    color: white;
    border-bottom: 3px dashed black;
}

nav{
    background: lightblue;
    height: 50px;
    border-bottom: 1px solid black;
}

nav ul li{
    float: left;
    list-style-type: none;
    margin: 10px;
}

.cleanfix{
    clear: both;
}

#content{
    float: left;
    width: calc(80% - 80px);
    min-height: 500px;
    background: green;
    padding: 40px;
}

.article{
    color:white;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.article:first-child{
    padding-top: 10px;
    border-top: 1px solid #eee;
}

.article he{
    font-size: 25px;
    
}

aside{
    float:left;
    width: calc(20% - 20px);
    min-height: 500px;
    background: orange;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
}

footer{
    background: black;
    color: white;
    text-align: center;
    height: 50px;
    line-height: 50px;
}