@use 'base/variables' as v;
@use 'base/mixins' as m;

.header {
    background-color: v.$verde;

    h1 {
        color: v.$blanco;
    }
}

.navegacion-principal {
    a {
        color: v.$blanco;
        font-size: 2.4rem;

        &:hover {
            color: v.$amarillo;
        }
    }
}

.prueba {
    @include m.heading;
}
