{% extends 'layout.html' %}

{% block title %}
    Listado de coches
    {{super()}}
{% endblock title %}

{% block content %}
    <h1>Listado de coches</h1>
    {% for coche in coches %}
    <article class="article-item">
        <div class="data">
            <h2>
                <a href="">{{coche.1}}</a>
            </h2>

            <span class="date">
                {{coche.2}}
                {{coche.3}}
            </span>        
            <p>
                {{coche.4}}
            </p>
            <p>
                <a href="" class="btn btn-warning">Editar</a>
                <a href="" class="btn">Eliminar</a>
            </p>

        </div>
        <div class="clearfix"></div>
    </article>
    {% endfor %}
{% endblock content %}
