{% extends 'layout.html' %}

{% block title %}
    Crear coche
    {{super()}}
{% endblock title %}

{% block content %}
    <h1>Crear coche</h1>

    <form action="" method='POST'>
        <label for="marca">Marca</label>
        <input type="text" name='marca'>

        <label for="modelo">Modelo</label>
        <input type="text" name='modelo'>

        <label for="precio">Precio</label>
        <input type="text" name='precio'>

        <label for="ciudad">Ciudad</label>
        <input type="text" name='ciudad'>

        <button type='submit' value='Crear coche'</button>
    </form>

{% endblock content %}
