{% extends 'layout.html' %}

{% block title %}
    Inicio
    {{super()}}
{% endblock title %}

{% block content %}
    <h1>Página de inicio con Flask</h1>

    {% if edad >= 18 and edad <= 100 %}
        <h2>Eres mayor de edad</h2>
    {% elif edad >= 100 %}
        <h2>Eres muy anciano</h2>
    {% elif edad < 18 %}
        <h2>Eres menor de edad</h2>
    {% endif %}

    <p>Tu edad es: {{edad}}</p>

    <h2>Listado de personas</h2>
    {% for persona in personas %}
        <ul>
            <li>{{loop.index}}. {{persona}}</li>
        </ul>
    {% endfor %}


    {#Comentario#}
    {# Valores pasados desde el main #}
    {#
        {{dato1}}
        {{dato2}}
        {{lista}}
    #}

{% endblock content %}
